<div class="jumbotron tip-container">
  <div class="container">
    <!--<h2>{{ randomNote.date }} - </h2>-->
    <h1>{{ randomNote.secondaryTag }}</h1>
    <h3>{{ randomNote.primaryTag }}</h3>
    <p>{{ randomNote.message }}</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Next learning</a></p>
    <button type="button" class="btn btn-default new-tip-buttom" aria-label="Left Align" [routerLink]="['/register']">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>
</div>