<ul>
  <li *ngFor="let item of items | async">
    {{ item.desc }}
  </li>
</ul>
<div class="jumbotron tip-container">
  <div class="container">
    <h1>My Learning drops</h1>
    <p>Em arrow functions que tenham apenas uma instrução, é dispensável o uso de chaves e de return, e se tiver apenas um parametro, os parenteses também são dispensáveis</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Next learning</a></p>
    <button type="button" class="btn btn-default new-tip-buttom" aria-label="Left Align" [routerLink]="['/register']">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>
</div>