<h1>New learning</h1>
<form class="cf">
  <div class="half left cf">
    <input name="primaryTag" type="text" required [(ngModel)]="primaryTag" placeholder="Primary tag">
    <input name="secondaryTag" type="text" required [(ngModel)]="secondaryTag" placeholder="Secondary tag">
  </div>
  <div class="half right cf">
    <textarea name="learning" type="text" id="input-message" placeholder="Learning"  [(ngModel)]="message"></textarea>
  </div>  
  <input type="submit" value="Register!" id="input-submit" (click)="registerNote()">
</form>
